<body>
    <header>
        <div class="logo">
            <h1>Not Alone</h1>
        </div>
        <nav>
            <ul class="botones">
                <li><a [routerLink]="['inicio']"><img src="img/hogar.png" alt="Inicio"></a></li>
                <li><a [routerLink]="['usuarias']"><img src="img/mujer.png" alt="Usuarias"></a></li>
                <li><a [routerLink]="['mapa']"><img src="img/ubicacion.png" alt="Mapa"></a></li>
                <li><a [routerLink]="['informacion']"><img src="img/informacion.png" alt="Información"></a></li>
                <li><a [routerLink]="['sesion']"><img src="img/siguiendo.png" alt="Sesión"></a></li>
            </ul>
        </nav>
    </header>
</body>
