<div class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3 [routerLink]="['../inicio']">Inicio</h3>
            <h3>Noticias</h3>
            <h3 [routerLink]="['../informacion']">Quiénes somos</h3>
            <h3 [routerLink]="['../informacion']">Qué hacemos</h3>
            <h3>La creación de la aplicación</h3>
            <h3>Certificados y reconocimientos</h3>
            <h3>Voluntariado</h3>
            <h3>Contacto</h3>
            <h3>Aviso legal</h3>
        </div>

        <div class="footer-column">
            <h3>Redes Sociales</h3>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
                <a href="https://instagram.com" target="_blank"><img src="img/Instagram.png" alt="Instagram"></a>
                <a href="https://twitter.com" target="_blank"><img src="img/x.png" alt="Twitter"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Not Alone. Todos los derechos reservados.</p>
    </div>
</div>