.login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.caja {
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    width: 900px; 
    height: 500px; 
}

.imagen {
    flex: 1;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenido h2 {
    font-size: 28px; 
    margin-bottom: 25px;
    color: #333;
}

.cajas {
    margin-bottom: 20px;
    text-align: left;
}

.cajas label {
    display: block;
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 8px;
}

.cajas input {
    width: 100%;
    padding: 15px; 
    font-size: 18px; 
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
}

.cajas input:focus {
    border-color: #7450e5;
    outline: none;
}

button {
    border: none;
    width: 107%;
    padding: 15px; 
    background: #7450e5;
    color: white;
    border-radius: 8px;
    font-size: 18px; 
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #7450e5;
}

.cuenta {
    display: block; /* Asegura que el margen se aplique correctamente */
    margin-top: 15px; /* Ajusta el valor según lo necesites */
    text-align: center; /* Para centrar el enlace si es necesario */
    color: #7450e5; /* Mantiene el color en armonía con el diseño */
    text-decoration: none; /* Opcional: elimina el subrayado */
    font-size: 16px; /* Ajusta el tamaño de fuente si lo deseas */
}

.cuenta:hover {
    text-decoration: underline; /* Efecto al pasar el mouse */
}
