.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.columnas {
    display: flex;
    align-items: center;
    gap: 30px; 
    max-width: 80%;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.valoracion {
    margin-top: 10px;
    font-size: 20px;
    color: #ff9f00; /* Color para la estrella */
}

.informacion {
    max-width: 400px;
    font-size: 18px;
    color: #333;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.informacion h2 {
    font-size: 24px;
    color: #333;
}

.informacion p {
    margin-bottom: 10px;
}
