<div class="contenido">
    <h1 class="encabezado">Más información acerca de la app</h1>
    <div class="preguntas">
        <h2>¿Qué es "Not Alone?</h2>
        <p>"Not Alone" es una aplicación diseñada para brindar seguridad y compañía a mujeres que caminan solas o se 
        encuentran en situaciones incómodas o peligrosas.</p>
        
        <p>Muchas veces por desgracia, nos encontramos en situaciones vulnerables y con mucha incomodidad, donde 
        no sabemos muy bien como debemos actuar o que hacer, a quién puedo llamar, con quién puedo hablar.</p>

        <p>Por ello se creó la app "Not Alone", para aquellos mujeres que tenga este tipo de vulnerabilidad, pueda contactar 
        con otras cerca de su zona, hablar por mensaje o incluso llamarlas.</p>

        <p>Esto hace que el camino de vuelta a casa no sea tan peligrosa y se vuelva más segura al estar hablando con 
        alguien por teléfono.</p>
    </div>

    <div class="preguntas">
        <h2>¿Cómo me registro en la app?</h2>
        <p>Puedes registrarte en esta misma web o descargarte la aplicación y hacer el mismo proceso, ambas formas son válidas.</p>
        <p>A la hora de registarte, colocarte los datos necesarios para la aplicación (ya sea tu nombre, teléfono, correo, contraseña, DNI).
        Se hará un pequeño test de competencias, esto quiere decir, en el caso de que se llegase a unir alguien con antecedentes de violecia
        de género, por violadicón, por explotación de menores y muchos más, no pueda tener acceso a la aplicación.</p>
        <p>Not Alone es una aplicación totalmente segura y verificamos que todos los miembros de la app quiera lo mejor para el resto.</p>
        <p>Si vemos algo inusual, se llegará a eliminar el usuario y dependiendo de la gravedad, se le podrá hasta poner una denuncia.</p>
    </div>

    <div class="preguntas">
        <h2>Una vez registrada, ¿Qué puedo hacer?</h2>
        <p>Ya registrada, puedes dirigirte al botón conocer mujeres y empezar a darle me gusta para en el caso de que salieras 
        y poder hablar con ellas sin problema.</p>
        <p>Puedes tambien activar tu ubicación para que así seas visible y te puedan ver. De esta forma, cualquier usuaria 
        pueda verte y en caso de estar en el mismo punto poder juntarse en el caso de peligro.</p>
    </div>

    <div class="preguntas">
        <h2>¿Para que sirve el botón de emergencia?</h2>
        <p>El botón de emergencia sirve para cuando estén en una situación de extremo peligro (te están manoseando, 
        te están persiguiendo a pesar de estar en llamada con otra usuaria o cosas similares), puedes apretar al botón y 
        te podrás poner en contacto con la policía. Esta alarma es UNICAMENTE EXCLUSIVA para este tipo de casos.</p>
    </div>

    <div class="preguntas">
        <h2>Contacta con nosotras</h2>
        <div>
            <p>Si tienes alguna otra duda sobre la app, preguntanos y te resolveremos dicha duda</p>
            <p>Sea lo que sea estamos aquí para ayudarte</p>
        </div>
        <section class="contacto">
            <form>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Escribe tu nombre" required>
        
                <label for="correo">Correo electrónico</label>
                <input type="email" id="correo" placeholder="Escribe tu correo" required>
        
                <label for="mensaje">Tu mensaje</label>
                <textarea id="mensaje" placeholder="Escribe tu duda aquí" required></textarea>
        
                <button type="submit">Enviar</button>
            </form>
        </section>
        
    </div>
</div>