<div class="inicio">
    <div class="contenido">
        <!-- Columna donde esta la imagen de la aplicacipn movil -->
        <div class="columna">
            <img src="img/movil.png" alt="movil">
        </div>

        <!-- Descripción del producto -->
        <div class="columna">
            <h1 class="titulo">Not Alone</h1>
            <h2>Ya nunca más volverás a ir sola</h2>
            <p>La nueva aplicación que te acompaña, para que el viaje a casa no sea extraña</p>
            <p>Aplicación para ayuntamientos e instituciones orientada a la protección y seguridad de la mujer. Grupos específicos, en tu móvil, para una mayor protección.</p>
            <p>Permite la interacción con usuarias en tiempo real, localización en cada momento que estés y una gran seguridad entre los usuarios</p>
            <p>Un plano interactivo y en tiempo real para tu seguridad e información en cualquier momento y en la palma de tu mano.</p>
        </div>

        <!-- Logo de la aplicación -->
        <div class="columna">
            <img src="img/logo-app.png" alt="logo" class="logo">
        </div>

        <!-- Posibles descargas que se pueda instalar -->
        <div class="columna">
            <p class="parrafo-logo">Descarga la App Not Alone y registrare facilitado así a mujeres que se sientan vulnerables al ir solas por la calle o que tengan algún peligro
                y así poder acceder a la información compartida en un entorno seguro para la mujer.</p>
            <!-- Botones para poder descargarse la aplicación en Android y IOS -->
            <div class="botones-descargas">
                <a href="https://play.google.com/store/games?hl=es_419&pli=1" class="play-store">
                    <img src="img/playstore.png" alt="Google Play">
                </a>
                <a href="https://www.apple.com/es/app-store/" class="app-store">
                    <img src="img/appstore.png" alt="App Store">
                </a>
            </div>            
        </div>
    </div>
</div>

<!-- Funcionamiento de la aplicación -->
<div class="secciones">
    <p>¿Cómo funciona la APP Not Alone?</p>
    <!-- poner espacio entre el titulo y la imagen -->
    <div class="imagen">
        <!-- Imagen para que tenga una seperación con el texto que va a continuación-->
        <img src="img/corazon.png" alt="corazon">
    </div>
</div>
<div class="contenido">
    <!-- Contenido del movil -->
    <div class="columna">
        <img src="img/movil-registro.png" alt="movil">
    </div>

    <!-- Pasos para poder registrarte en la app -->
    <div class="columna">
        <p>📧 1. Registarte en ella mediante tu correo electrónico</p>
        <p>✅ 2. Créate un perfil y verificalo para una mayor seguridad</p>
        <p>📍 3. Ten activado tu ubicación para ser vista</p>
        <p>🙋‍♀️ 4. Empieza a agregar personas que te causen una buena impresión</p>
        <p>🗣️ 5. Habla con ellas para así tener un camino seguro para la vuelta de casa</p>
        <p>👐 6. Valora como fue la interacción, esto hace que la aplicación tenga más relevancia</p>
    </div>
</div>

<!-- Valoración de usuarias -->
<div class="secciones">
    <p>Valoración de las usuarias</p>
    <div class="imagen">
        <!-- Imagen para que tenga una seperación con el texto que va a continuación-->
        <img src="img/corazon.png" alt="corazon">
    </div>

    <!-- Imágenes de las usuarias-->
    <div class="contenido-imagenes">
        <!-- Perfiles de usuarios-->
        <div class="perfil">
            <img src="img/perfil1.png" alt="perfil1">
            <div class="valoracion">
                <p>Sofía</p>
                <p>Valoracion de la app:</p>
                <img src="img/valoracion.png" alt="valoracion">
                <p>"Estoy orgullosa de poder ayudar a otras mujeres a que lleguen bien a su hogar sin ningún tipo de problema"</p>
            </div>
        </div>

        <div class="perfil">
            <img src="img/perfil2.png" alt="perfil2">
            <div class="valoracion">
                <p>Valeria</p>
                <p>Valoracion de la app: </p>
                <img src="img/valoracion.png" alt="valoracion">
                <p>"Ahora me siento más segura al tenerla y saber que tengo alguien conmigo a la vuelta de casa"</p>
            </div>
        </div>

        <div class="perfil">
            <img src="img/perfil3.png" alt="perfil3">
            <div class="valoracion">
                <p>Lucas</p>
                <p>Valoracion de la app: </p>
                <img src="img/valoracion.png" alt="valoracion">
                <p>"A pesar de ser una app orientada para mujeres, me alegra que yo pueda contribuir y que todas se sientan seguras al poder hablar conmigo"</p>
            </div>
        </div>

        <div class="perfil">
            <img src="img/perfil4.png" alt="perfil4" >
            <div class="valoracion">
                <p>Natalia</p>
                <p>Valoracion de la app: </p>
                <img src="img/valoracion.png" alt="valoracion">
                <p>"Llevo más de un año con ella y no me ha dado ningun tipo de problema, es sencilla y fácil de usar, la recomiendo para todo el mundo"</p>
            </div>
        </div>
    </div>
    <!-- Botón que redirijirá a la seccion de usuarias o saber más sobre la opinión de ellas-->
    <button class="boton-sabermas" [routerLink]="['../informacion']">Saber más</button>

</div>

<!-- Contacto directo con la policía -->
<div class="secciones">
    <p>Contacto directo con la policia</p>
    <div class="imagen">
        <img src="img/corazon.png" alt="corazon">
    </div>
    <div class="contenido">
        <div class="columna">
            <img src="img/movil1.png" alt="movil">
        </div>

        <!-- Que es lo que haría al activar la opcion con contacto a la policia -->
        <div class="columna">
            <p>Al tener esta herramienta, permitirá en caso de desapariciación 
               o no responder al mensaje de seguridad, se podrá localizar el dispositivo móvil,
               y activar el protocolo de búsqueda de la usuaria. En caso de que se responda, se 
               desactivará dicho protocolo.</p>
            <p>Con esta opción activada, agilizará el proceso de búsqueda en los momentos iniciales</p>   
            <p>Tener activada o no esta opción es totalmente opcional de cada usuaria</p>
        </div>
    </div>
</div>


<!-- Casos dónde se ha usado la app -->
<div class="secciones">
    <p>Ciudades dónde se ha utilizado</p>
    <div class="imagen">
        <img src="img/corazon.png" alt="corazon">
    </div>

    <div class="contenido">
        <div class="columna">
            <img src="img/mapa.png" alt="mapa">
        </div>

        <!-- Bandera de las ciudades -->
        <div class="columna">
            <!-- Al darle a un boton en concreto, saldrá las ciudades que más se ha usado en la app -->
            <button class="bandera"><img src="img/galicia.png" alt="galicia"></button>
            <button class="bandera"><img src="img/asturias.png" alt="asturias"></button>
            <button class="bandera"><img src="img/cantabria.png" alt="cantabria"></button>
            <button class="bandera"><img src="img/navarra.png" alt="navarra"></button>
            <button class="bandera"><img src="img/larioja.png" alt="larioja"></button>
            <button class="bandera"><img src="img/aragon.png" alt="aragon"></button>
            <button class="bandera"><img src="img/barcelona.png" alt="barcelona"></button>
            <button class="bandera"><img src="img/valencia.png" alt="valencia"></button>
            <button class="bandera"><img src="img/murcia.png" alt="murcia"></button>
            <button class="bandera"><img src="img/andalucia.png" alt="andalucia"></button>
            <button class="bandera"><img src="img/extremadura.png" alt="extremadura"></button>
            <button class="bandera"><img src="img/castillayleon.png" alt="castilla y leon"></button>
            <button class="bandera"><img src="img/castillalamancha.png" alt="castilla y leon"></button>
            <button class="bandera"><img src="img/baleares.png" alt="baleares"></button>
            <button class="bandera"><img src="img/canarias.png" alt="canarias"></button>
        </div>
    </div>
</div>

<!-- Preguntas frecuentes sobre la app -->
<div class="secciones">
    <p>Preguntas frecuentes</p>
    <div class="imagen">
        <img src="img/corazon.png" alt="corazon">
    </div>

    <!-- Botón para desplegar preguntas -->
    <div class="botones-desplegables">
        <div *ngFor="let pregunta of preguntas; let i = index">
          <button class="boton" (click)="togglePreguntas(i)">
            {{ pregunta.mostrar ? '- ' + pregunta.pregunta : '+ ' + pregunta.pregunta }}
          </button>
    
          <div class="columna" *ngIf="pregunta.mostrar">
            <p>{{ pregunta.respuesta }}</p>
          </div>
        </div>
      </div>
</div>

<!-- Pantallazos de como se vería la app -->
<div class="secciones">
    <p>Pantallazos del uso de la app</p>
    <div class="imagen">
        <img src="img/corazon.png" alt="corazon">
    </div>

    <div>
        <!-- Desplazamiento de las imagenes-->
        <img src="img/movil1.png" alt="movil">
    </div>
</div>

<!-- Contacto -->
<div class="secciones">
    <p>Contacta con nosotras</p>
    <div class="imagen">
        <img src="img/corazon.png" alt="corazon">
    </div>
    <div>
        <p>Si tienes alguna duda sobre la app, no dudes en ponerte contacto con nosotras</p>
        <p>Sea lo que sea estamos aquí para ayudarte</p>
    </div>
    <section class="contacto">
        <form>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Escribe tu nombre" required>
    
            <label for="correo">Correo electrónico</label>
            <input type="email" id="correo" placeholder="Escribe tu correo" required>
    
            <label for="mensaje">Tu mensaje</label>
            <textarea id="mensaje" placeholder="Escribe tu duda aquí" required></textarea>
    
            <button type="submit">Enviar</button>
        </form>
    </section>
    
</div>

